
body {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

#sliderContent {
    margin: auto;
    margin-top: 80px;
    background-color: #ebebeb;
}

.viewer {
    overflow: hidden;
    position: relative;
    background-color: red;
}

.content-conveyor {
    position: relative;
}

.item {
    height: 500px;
    width: 500px; /* for testing */
    float: left;
    background-color: #ebebeb;
    border-bottom: 1px solid #4e4e4e;
}

.item img {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#sliderContent {
    width: 100%;

}

#sliderScroll {
    width: 100%;
    padding: 40px 0;
    background-color: #121212;
}
#slider  {
    width: calc(100% - 30px);
    height: 1px;
    border: none;
    background-color: #515151;
    margin-left: 10px;
}
#slider::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #515151;
    border: none;
    position: absolute;
    left: -10px;
}
#slider::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 20px;
    background-color: #515151;
    border: none;
    position: absolute;
    right: -20px;
}
#slider span {
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    border: none;
    top: -15px;
}

#slider span::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #121212;
    position: relative;
    left: 10px;
    top: 10px;
    border: none;
}

#slider span.ui-state-active::before {
    content: "DRAG IT";
    text-align: center;
    padding-top: 5px;
    display: inline-block;
    height: 20px;
    width: 65px;
    border: 1px solid #898989;
    text-decoration: none;
    font-size: 10px;
    font-family: "Roboto", serif;
    position: absolute;
    color: #fff;
    left: 45px;
    top: -20px;
    border-radius: 5px;

}
